// Navigation code here
.navigation {
    .desktop-size(); 
    
    @media @mobile {
        width: 98vw;
        margin-top: 13px;
    }

    
    h1 {
        text-align: center;

    }

    nav {
        .nav-align;

        a {
            text-decoration: none;
            padding: 0 13px 0 13px;
            color: @header-font-color;
        }
    }
}